{% extends 'base.html.twig' %}

{% block title %}Recipes List - Symrecipe{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1 class="mb-4">Community recipes</h1>

    {% if not recipes.items is same as([]) %}
    
    <div class="d-flex justify-content-center flex-wrap">
        {% for recipe in recipes %}
            <div class="card border-primary m-3 mb-3" style="max-width: 20rem;">
                <div class="card-header">Recipe n°{{ recipe.id }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ recipe.name }}</h4>
                    <p class="card-text">{{ recipe.description|slice(0,100)~ '...' }}</p>
                </div>
                <p class="lead">
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary" href="{{ path('recipe.show', {'id': recipe.id}) }}" role="button"><i class="fa-solid fa-plus"></i></a>
                    </div>
                </p>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h4>There is no recipes !</h4>
    {% endif %}
</div>
{% endblock %}

