{% extends 'base.html.twig' %}

{% block title %}Recipe New - Symrecipe{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5">New Recipe</h1>
        {{ form(form) }} 
</div>


{% endblock %}