{% extends 'base.html.twig' %}

{% block title %}User edit password - Symrecipe
{% endblock %}

{% block body %}
	<div class="container">

		<h1 class="mt-4">User Password Modification</h1>
        
		{% for message in app.flashes('warning') %}
			<div class="alert alert-warning mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<div class="alert-warning p-4">
			{{ form(form) }}
		</div>

	</div>
{% endblock %}
