<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <!-- Bootswatch -->
            <link rel="stylesheet" href="https:/cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/_variables.scss">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/united/bootstrap.min.css">
            <!-- Fontawesome icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
        {% block javascripts %}
           {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <style>
        #background {
            background: url("images/background.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .jumbotron {
            padding-top: 150px;
            padding-left: 630px;
            transform: rotate(8deg);
        }
    </style>
    <body>
        {% block header %}
            {% include "partials/_header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
